body {
    font-family: "Open Sans", sans-serif;
    background: black;
    color: rgb(255, 255, 255);
    background-color: transparent;
    background-image: url("../img/wallhaven-z8qdlg.jpg");
    background-size: auto;
}

h1, h2 {
    font-family: 'Work Sans', sans-serif;
}

#uppercased {
    text-transform: uppercase;
    font-weight: 900;
}

.jumbotron {
    margin: 0px;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
    background: rgba(2, 32, 78, 0.74);
}

#carouselExampleControls {
    top: 30px;
    box-shadow: 5px 5px rgb(255, 255, 255, .85);
}