body {
    font-family: "Open Sans", sans-serif;
    background: black;
    color: rgb(255, 255, 255);
    background-color: transparent;
    background-image: url("../img/wallhaven-z8qdlg.jpg");
    background-size: auto;
}

h1, h2 {
    font-family: 'Work Sans', sans-serif;
}

#uppercased {
    text-transform: uppercase;
    font-weight: 900;
}

/* heading */
.jumbotron {
    margin: 0px;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
    background: rgba(2, 32, 78, 0.836);
}

/* main */

.container {
    border: 2px solid black;
}

.container-carousel {
    margin: 30px 30px;
}

.carousel-control-next {
    background-color: transparent;
    border: none;
}
.carousel-control-prev {
    background-color: transparent;
    border: none;
}