body {
    font-family: "Open Sans", sans-serif;
    background: white
    color: rgb(255, 255, 255);
    background-size: auto;
}

.navbar-title {
    font-family: 'Grape Nuts', cursive;
}

#uppercased {
    text-transform: uppercase;
    font-weight: 900;
}

/* heading */
.jumbotron {
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 0px;
    color: rgb(255, 255, 255);
    background: rgb(0, 1, 19);
}

.navbar {
    background-color: limegreen;
}

.nav-link {
    font-weight: bold;
}


/* main */

#topvoted-main-heading {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#topvoted-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 40px;
}

#carousel-container {
    background-color: limegreen;
    border: 1px solid limegreen;
    border-radius: 3px;
}

.container-carousel {
    margin: 30px 30px;
}

.carousel-control-next {
    background-color: transparent;
    border: none;
}
.carousel-control-prev {
    background-color: transparent;
    border: none;
}